/* ===========================================
 * Base
 * ======================================== */

* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: $font-family;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: $font-weight;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: initial;
}

// Links
a, a:link, a:visited, a:active {
    text-decoration: none;
    color: $black;
    @include transition(all, 0.2s, ease);

    &:hover {
        color: $grey-standard;
    }
}

// Buttons
a.button {
    min-width: 170px;
    position: relative;
    display: inline-block;
    margin-top: 2em;
    padding: 10px 15px;
    background-color: $pink;
    font-weight: $font-weight-bold;
    color: $white;

    &::after {
        content: '\f105';
        position: absolute;
        right: 15px;
        font-family: FontAwesome;
    }

    &:hover {
        background-color: $black;
    }
}

// Ueberschriften
h1 {
    margin-top: $headline-margin-1;
    margin-bottom: 0;
    font-size: 2.2em;
    line-height: 2.6rem;
    letter-spacing: 0;
    text-shadow: 1px 1px 30px $black;  
}

h2 {
    margin-top: $headline-margin-1;
    margin-bottom: $headline-margin-1;
    font-size: 1.8em;
    line-height: 2.1rem;
    letter-spacing: 0;
}

h3 {
    margin-top: $headline-margin-1;
    font-size: 1.4em;
    line-height: 1.7rem;
    letter-spacing: 0;
}

h4 {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.5rem;
    letter-spacing: 0;
}

h1, h2, h3, h4 {

    font-weight: $font-weight-bold;
    
    &.first {
        margin-top: 0;
    }
}

// Text
p {
    margin-bottom: 10px;
}

strong {
    font-weight: $font-weight-bold;
}

// Icons
.fa {
    color: $black;
    padding-left: 25px;

    &::before {
        margin-left: -25px;
    } 
}

// Bilder
img {
    width: auto;
    max-width: 100%;
    display: block;
}

figure {
    margin: 0;
}

/* ===========================================
 * Breakpoint bei 599px
 * ======================================== */
@media only screen and (min-width: $breakpoint-mobile) {

    // Ueberschriften
    h1 {
        margin-top: $headline-margin-2;
        font-size: 2.6em;
        line-height: 3.0rem;
    }

    h2 {
        margin-top: $headline-margin-2;
        margin-bottom: $headline-margin-2;
        font-size: 2.2em;
        line-height: 2.6rem;
    }

    h3 {
        margin-top: $headline-margin-2;
        font-size: 1.6em;
        line-height: 2.0rem;
    }
}

/* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
@media only screen and (min-width: $breakpoint-tablet) {
    
// Ueberschriften
    h1 {
        margin-top: $headline-margin-3;
        font-size: 3.8em;
        line-height: 4.2rem;
    }

    h2 {
        margin-top: $headline-margin-3;
        margin-bottom: $headline-margin-3;
        font-size: 2.5em;
        line-height: 2.8rem;
    }

    h3 {
        margin-top: $headline-margin-3;
    }
}