/* ===========================================
 * Content
 * ======================================== */
 
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

 .wrapper {
   margin-top: 90px;
 }

 .full-width {
   width: 100%;
 }

 .boxed {
   max-width: $max-width;
   margin: 0 auto;
   padding-right: $box-padding-rl-mobile;
   padding-left: $box-padding-rl-mobile;
 }

.box-padding-top-bottom {
  padding-top: $box-padding-tb-mobile;
  padding-bottom: $box-padding-tb-mobile;
}

.box-padding-top {
  padding-top: $box-padding-tb-mobile;
}

.box-padding-bottom {
  padding-bottom: $box-padding-tb-mobile;
}

 .box-centered {
   text-align: center;
   @include flexbox;
   @include justify-content(center);
   @include align-items(center);
   min-height: 400px;
 }

 .cd-main-content {
    position: relative;
    z-index: 2;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    @include transition(all, 0.4s, ease);    
  }

  /* ===========================================
 * Breakpoint bei 599px
 * ======================================== */
  @media only screen and (min-width: $breakpoint-mobile) {
    .boxed {
      padding-right: $box-padding-rl-tablet;
      padding-left: $box-padding-rl-tablet;
    }
   
    .box-padding-top-bottom {
      padding-top: $box-padding-tb-tablet;
      padding-bottom: $box-padding-tb-tablet;
    }
   
    .box-padding-top {
      padding-top: $box-padding-tb-tablet;
    }
    
    .box-padding-bottom {
      padding-bottom: $box-padding-tb-tablet;
    }
  }

  /* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
  @media only screen and (min-width: $breakpoint-tablet) {
    .boxed {
      padding-right: $box-padding-rl-desktop;
      padding-left: $box-padding-rl-desktop;
    }
   
    .box-padding-top-bottom {
      padding-top: $box-padding-tb-desktop;
      padding-bottom: $box-padding-tb-desktop;
    }
   
    .box-padding-top {
      padding-top: $box-padding-tb-desktop;
    }
    
    .box-padding-bottom {
      padding-bottom: $box-padding-tb-desktop;
    }
  }

  /* ===========================================
 * Box-Farben
 * ======================================== */

 .box-pink {
   background-color: $box-color;
   color: $white;

   & a, .fa {
     color: $white;
   }
 }

 .box-grey {
   background-color: $box-color-light;
 }

 .box-grey-medium {
  background-color: $grey-medium;
}

  /* ===========================================
 * Slider
 * ======================================== */

 .slide {
   outline: none;
 }

 //Slider Top
 .slider.top {
   width:100%;
   height: 75vh;

   & .slide {
     height: 75vh;
     padding: 40px;
     @include flexbox;
     @include flex-direction(column);
     @include align-items(center);
     @include justify-content(center);
     color: $white;
     text-align: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

     &.inherit {
       color: $black;

       & h1 {
         text-shadow: none;
       }
     }
   }

  & .slide-1 {
    background-image: url('/images/home/slider/top/muster.png');
    background-color: $grey-light;   
  }

  & .slide-2 {
      background-image: url('/images/home/slider/top/faeltlirock.jpg');
  }

  & .slide-3 {
      background-image: url('/images/home/slider/top/werktagstracht_detail.jpg');
  }

  & .slide-4 {
    background-image: url('/images/home/slider/top/schwarzer-spitzkragen.jpg');
  }
 }

 // Slider Bottom
 .slider.bottom {

  & .slide {
    @include flexbox;
    @include align-items(flex-end);
    padding-bottom: 28px;
  }
   
  & .slide-1 {
    position: relative;

    & .feature-box {
      @include flexbox;
      @include flex-direction(column);
    }

    & .feature-text {
      width: 100%;
    }

    & .feature-image {
      margin: 20px auto 0 auto;
      width: 60%;
    }
     
     &::after {
       content: '';
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        height:40px;
        background-image: url('/images/home/slider/bottom/brett.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
     }
   }
 }

  // Slide Carousel

  @for $i from 1 through 12 {
    
    .item-#{$i}::before { 
      content: '#{$i}';
      padding-right: 10px;
    }
}

  .carousel {
    height: 250px;

    .box-padding-top-bottom {
      padding-top: $box-padding-tb-desktop;
      padding-bottom: $box-padding-tb-desktop;
    }

    .slick-next, .slick-prev {
      top: 50%;
      bottom: inherit;
    }

    & .slick-list {
      margin-right: 4em;
      margin-left: 4em;
    }

    & .button-icon {
      color: $pink;

      &::after {
        content: '\f105';
        padding-left: 10px;
        font-family: FontAwesome;
      }
    }
  }
   /* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
 @media only screen and (min-width: $breakpoint-tablet) {
  
  .carousel .slick-list {
    margin-right: 7em;
    margin-left: 7em;
  }
}

.image-boxes article {

  &.columns {
    padding: 0.2em;
  }

  & > div {
    position: relative;
    overflow: hidden;
  }

  figure {
  background-color: rgba(255,255,0,0);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100px;
      @include gradient-vertical (transparent, $black);
      bottom: 0;
      z-index: 1;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: $pink;
      opacity: 0;
      @include transition(all, 0.5s, ease);
    }

    & img {
      @include transition(all, 0.5s, ease);
    }

    &:hover {

      &::after {
        opacity: 0.5;
      }
      
      & img {
        @include scale(1.2);
      }
    }
  }

  & figcaption {
  width: 100%;
  position: absolute;
  bottom: 20px;
  color: $white;
  font-size: 24px;
  font-weight: $font-weight-bold;
  text-align: center;
  z-index: 2;
  }
}

 /* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
@media only screen and (min-width: $breakpoint-tablet) {
  .slider.bottom {
    
    & .slide {
      .feature-box {
        @include flex-direction(row);
      }

      & .feature-text, .feature-image {
        width: 50%;
      }
    }
  }
}

 /* ===========================================
 * Formular
 * ======================================== */

 .widget input {
   height: 40px;
   padding: 10px 10px 10px 0;
   outline: none;
   width: 100%;
   border: 0;
   border-bottom: 1px solid $grey-standard;
   font-family: $font-family;
   @include transition(all, 0.2s, ease); 

   &:focus, &:hover {
     border-color: $black;
   }
 }

 ._e725ae-status {
   display: none;
 }

 label {
   margin-bottom: 10px;
   display: inline-block;
 }

 textarea {
   width: 100%;
   height: 300px;
   outline: none;
   border: 1px solid $grey-standard;
   padding: 10px;
   font-family: $font-family;

   &:focus, &:hover {
     border-color: $black;
   }
 }

 fieldset {
   margin-top: 20px;
   padding: 0;
   border: 0;
 }

 .radio {
   
  margin-top: 10px;
   label {
     display: inline-block;
   }
    input {
      float: left;
    }
 }

 input[type="radio"] {
     display:none;
 }

 input[type="radio"] + label::before {
     width:20px;
     height:20px;
     left:0;
     top:2px;
     position:absolute;
     display:inline-block;
     margin-right:10px;
     border-radius: 100%;
     background-color: $grey-light;
     cursor: pointer;
     content: '';
     @include transition(all, 0.2s, ease);
 }

input[type="radio"] + label {
    position:relative;
    display:inline-block;
    margin-right:25px;
    padding-left:30px;
}

input[type="radio"]:checked + label::before {
    background-color: $pink;
}

 button[type="submit"] {
   background-color: $pink;
   height: 40px;
   display: inline-block;
   margin-top: 40px;
   padding: 10px 15px;
   color: $white;
   cursor: pointer;
   border: none;
   @include transition(all, 0.2s, ease); 
   font-family: $font-family;

   &:hover {
     background-color: $black;
   }
 }

 .form .columns {
   padding: 0;
 }

 .widget {
   margin-top: 2em;
   padding-right: 1em;
 }


input, textarea {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}


  /* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
@media only screen and (min-width: $breakpoint-mobile) {
  .widget {
    padding-right: 2em;
 
    &:nth-child(2n) {
      padding-right: 0;
      padding-left: 2em;
    }
  }
}