/* ===========================================
* Footer
* ======================================== */

footer {
    border-top: 1px solid $grey-light;
    min-height: 200px;
    background-color: $white;

    // Service-Navigation
    & .service-nav {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $grey-light;

        & ul {
            list-style: none;
        }

        & li {
            display: inline;
            margin-right: 10px;
        }

        & a {
            color: $black;
            text-transform: uppercase;
        }
    }

    & p {
        margin-bottom: 0;
    }
}

// Adresse
address {
    font-weight: $font-weight;
    font-style: normal;

    & > div {
        float: left;
    }
}

/* ===========================================
 * Nach oben
 * ======================================== */
a.cd-top {
    position: fixed;
    width: 30px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    background-color: $white;
    text-align: center;
    z-index: 9;
    opacity: 0;

    &::before {
        content: '\f106';
        font-family: FontAwesome;
        color: $black;
        line-height: 25px;
    }
}

.cd-top.cd-is-visible {
    opacity: 1;
}

//Footer Flex
.footer-flex-right {
    display: none;
}

/* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
@media only screen and (min-width: $breakpoint-tablet) {
    
    // Nach Oben
    a.cd-top {
        right: 40px;
        bottom: 40px;
    }

    footer {

        // Footer Flex
        & .boxed {
            @include flexbox;
            @include flex-direction(column);
        }

        & .footer-flex-wrapper {
            @include flexbox;
        }

        & .footer-flex-right {
            @include flexbox;
            @include justify-content(flex-end);
        }

        & .footer-flex-right, & .footer-flex-left {
            @include flex-direction(row);
            @include flex(1);
        }

        // Service-Navigation
        & .service-nav {
            position: relative;
            height: 40px;
            padding-top: 0;
            border-top: 0;
            @include flexbox;
            @include justify-content(center);

            &::after {
                content: '';
                position: absolute;
                top: 20px;
                width:100%;
                height: 1px;
                background-color: $grey-light;
            }

            & ul {
                z-index: 1;
                padding: 0 40px;
                background-color: $white;
                @include flexbox;
                @include align-items(center);
            }

            & li {
                margin-right: 20px;
            }

            & li:last-child {
                margin-right: 0;
            }
        }
    }
}