/* ===========================================
 * Grid
 * ======================================== */

 .columns {
    position: relative;
    float: left;
    padding: 1em;
}

.row {
    width: auto;

    .box-min-height {
        min-height: 600px;
    }
}

.row::before, .row::after {
    content: '';
    display: table;
}

.row::after {
    clear: both;
}

.row .row {
    margin-right: -1em;
    margin-left: -1em;
}

$grid-mobile: 6;
$grid-tablet: 12;
$grid-desktop: 24;

/* ===========================================
 * Grid Mobile
 * ======================================== */
@media only screen and (max-width: 37.5em) {
    
    // Small
    @for $i from 1 through $grid-mobile {
        
        .small-#{$i} { 
            width: 100% / $grid-mobile * $i;
        }
    }

    // Small Offset
    @for $i from 1 through $grid-mobile {
        
        .small-offset-#{$i} { 
            margin-left: 100% / $grid-mobile * $i;
        }
    }
}

/* ===========================================
 * Grid Medium
 * ======================================== */
@media only screen and (min-width: 37.5em) and (max-width: 62.5em) {

    // Medium
    @for $i from 1 through $grid-tablet {
        
        .medium-#{$i} { 
            width: 100% / $grid-tablet * $i;
        }
    }

    // Medium Offset
    @for $i from 1 through $grid-tablet {
        
        .medium-offset-#{$i} { 
            margin-left: 100% / $grid-tablet * $i;
        }
    }
}

/* ===========================================
 * Grid Large
 * ======================================== */
@media only screen and (min-width: 62.5em) {

    // Large
    @for $i from 1 through $grid-desktop {
        
        .large-#{$i} { 
            width: 100% / $grid-desktop * $i;
        }
    }
  
    // Large Offset
    @for $i from 1 through $grid-desktop {
        
        .large-offset-#{$i} { 
            margin-left: 100% / $grid-desktop * $i;
        }
    } 
}