/* ===========================================
* Header
* ======================================== */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background: $white;
    z-index: 3;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-bottom: 1px solid $grey-light;
    @include transition(all, 0.2s, ease);

    & .boxed {
        @include flexbox;
        height: 90px;
    }
}

// Header Flex
// Phone, Logo, Trigger
.flex {
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
    @include flex(1);

    &.phone {
        @include justify-content(flex-start);
        padding-left: 10px;
    }

    &.logo {
        @include justify-content(center);
        @include flex(2);
    }

    &.trigger {
        @include justify-content(flex-end);
        padding-right: 10px;
    }
}

// Logo
#logo img {
    width: 120px;
}

@media only screen and (min-width: $breakpoint-tablet) {
    
    // Trigger, Phone
    a#cd-menu-trigger, .phone {
        display: none !important;
    }

    .flex {
        &.logo {
            @include flex(1);
            @include justify-content(flex-start);
        }
        &.trigger {
            padding-right: 0;
        }
    }
}

/* ===========================================
* Mobile Trigger
* ======================================== */
a#cd-menu-trigger {
    width: 20px;
    height: 20px;
    @include flexbox;
}

#cd-menu-trigger {
    position: relative;

    // Trigger Hamburger-Icon
    & .cd-menu-icon {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        @include transform(translateX(-50%) translateY(-50%));
        width: 18px;
        height: 2px;
        background-color: $black;

        &::before,&::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: inherit;
            left: 0;
        }

        &::before {
            bottom: 5px;
        }

        &::after {
            top: 5px;
        }
    }
}

// Trigger Hamburger-Icon Aktiv
#cd-menu-trigger.is-clicked {
    & .cd-menu-icon {
        background-color: rgba(255, 255, 255, 0);

        &::before,&::after {
            background-color: $black;
        }

        &::before {
            bottom: 0;
            @include rotate(45deg);  
        }

        &::after {
            top: 0;
            @include rotate(-45deg);   
        }
    }
}

/* ===========================================
* Mobile Navigation
* ======================================== */

nav ul {
    list-style: none;
}

// Hauptnavigation
#cd-lateral-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 90px;
    visibility: hidden;
    z-index: 3;
    padding-bottom: 100px;
    background-color: $white;
    overflow-y: auto;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: transform .4s 0s, visibility 0s .4s;
    @include transform (translateX(100%));

    & a {
        display: block;
        height: 45px;
        line-height: 45px;
        color: $black;
        font-weight: $font-weight-bold;
        border-bottom: 1px solid #dcdcdc;

        &.current,&:hover {
            color: $pink;
        }
    }

    // Level 1
    & .cd-navigation {
        padding: 30px;

        & li.active a {
            color: $pink;
        }

        & .sub-menu li a {
            color: $black;
        }

        & .sub-menu li.submenu-active a {
            color: $pink;
        }

        &:first-child {
            background-color: $grey-light;
        }

        &.cd-single-item-wrapper {

            & li {
                margin-right: 10px;
                display: inline-block;
            }
            
            & a {
                font-weight: $font-weight;
                color: $grey-standard;
                text-transform: uppercase;
                border-bottom: 0;

                &:hover {
                    color: $black;
                }
            }
        }
    }

    // Level 2
    & .sub-menu {
        padding: 0 10px 20px 15px;
        display: none; 

        & a {
            font-weight: $font-weight;
        }
    }
}

.no-touch #cd-lateral-nav a:hover {
    color: $pink;
}

// Haupt-Navigation Open
#cd-lateral-nav {

    &.lateral-menu-is-open {
        @include transform (translateX(0));
        visibility: visible;
        -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
        -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
        transition: transform .4s 0s, visibility 0s 0s;
        -webkit-overflow-scrolling: touch;
        z-index: 10;
    }

    & .item-has-children > a {
        position: relative;
        font-weight: $font-weight-bold;

        &::after {
            content: '\f105';
            display: inline-block;
            position: absolute;
            top: 0;
            right: 1em;
            bottom: auto;
            font-family: FontAwesome;
            font-size: 18px;
            font-weight: $font-weight;
            color: $grey-standard;
            @include transition(all, 0.2s, ease);  
        }

        &.submenu-open::after {
            @include transform (rotate(90deg));
        }
    }
}

/* ===========================================
* Desktop-Navigation
* ======================================== */

// Desktop- und Service-Navigation
.desktop-nav, header .service-nav {
    display: none;
    @include transition(all, 0.2s, ease); 
}

@media only screen and (min-width: $breakpoint-tablet) {
    
    // Logo
    #logo img {
        width: 160px;
        @include transition(all, 0.2s, ease); 
    }

    // Sticky
    .sticky {
        height: 90px;

        #logo img {
            width: 120px;
        }

        & .boxed {
            height: 90px;
        }

        // Sticky-Desktop-Navigatioin
        & .desktop-nav {
            height: 90px;

            & ul {
                height: 90px;

                & li:hover ul {
                    top: 90px;
                }
            }
            
        }
        
        // Sticky-Service-Navigation
        & .service-nav {
            display: none;
        }
    }
    
    header {
        height: 120px;

        & .boxed {
            height: 120px;
        }
    }

    // Trigger
    .trigger {
        @include flexbox;
        @include flex-direction(column);
    }

    // Header Service-Navigation
    header .service-nav {

        & ul {
            @include flex-direction(row);
        }

        li {
            &::after {
                display: none;
            }
        }

        a {
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 0.05em;
        }
    }

    .desktop-nav {
        & li.active {
            & > a {
                color: $pink;

                .level_2 {
                    color: $black;
                }
            }
        }

        & .submenu-active {
            & a {
                background-color: $pink;
                color: $white;
            }
        }
    }

    // Header Service- und Desktop-Navigation
    .desktop-nav, header .service-nav {
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-end);
        width: 100%;
        height: 60px;

        & ul {
            @include flexbox;
            @include flex-direction(row);
            list-style: none;
            height: 60px;

            & li {
                position: relative;
                margin: 0 10px;
                @include flexbox;
                @include align-items(center);

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        background-color: $pink;
                    }
              }

                & ul {
                    display: none;
                    position: absolute;
                    min-width: 150px;
                    top: 60px;
                    background-color: $white;
                    @include box-shadow(1px, 1px, 5px, $grey-standard, 0);
                    z-index: -10;
                }

                &:hover ul {
                    display: block;
                    position: absolute;
                    min-width: 150px;
                    height: auto;
                    top: 60px;

                    & li {
                        margin: 0;
                        padding: 0;

                        &::after {
                            display: none;
                        }
                    }
        
                    & a {
                        padding: 10px 10px;
                        display: block;
                        width: 100%;
        
                        &:hover {
                            background-color: $pink;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}