/* ===========================================
 * Slick-Theme
 * ======================================== */

@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("../images/layout/ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("../fonts/slick.eot");
        src: slick-font-url("../fonts/slick.eot?#iefix") format("embedded-opentype"), slick-font-url("../fonts/slick.woff") format("woff"), slick-font-url("../fonts/slick.ttf") format("truetype"), slick-font-url("../fonts/slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    z-index: 10;
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: $white;
    border-radius: 100%;
    color: $black;
    bottom: 20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    @include transition(all, 0.5s, ease);
    &:hover {
        background-color: $pink;
        color: $white;

        &::before {
            color: $white;
        }
    }
    &:hover, &:focus {
        outline: none;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: FontAwesome;
        font-size: 20px;
        line-height: 1;
        color: $black;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: 20px;

    &:before {
        content: '\f104';
    }
}

.slick-next {
    right: 20px;

    &:before {
        content: '\f105';
    }
}

@media only screen and (min-width: $breakpoint-tablet) {
    
    .slick-prev,.slick-next {
        width: 50px;
        height: 50px;
    }
}

/* Dots */

.slick-dots {
    position: absolute;
    bottom: 40px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 12px;
            width: 12px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    background-color: $pink;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 12px;
                height: 12px;
                background-color: $white;
                border-radius: 100%;
                line-height: 20px;
                text-align: center;
                opacity: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                @include transition(all, 0.5s, ease);
            }
        }
        &.slick-active button:before {
            background-color: $pink;
        }
    }
}

@media only screen and (min-width: $breakpoint-desktop) {

    .slick-prev {
        margin-left: 30px;
    }

    .slick-next {
        margin-right: 30px;
    }
}

@media only screen and (min-width: $breakpoint-slider) {
    
    .slick-prev, .slick-next {
        top: 50%;
        bottom: inherit;
    }
}