/* ===========================================
  * Basis
  * ======================================== */

  // Width
 $max-width: 1200px;
  
 // Schrift
@import url("//hello.myfonts.net/count/3497bf");
@font-face {font-family: 'Carrara-Bold';src: url('../fonts/3497BE_4_0.eot');src: url('../fonts/3497BE_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3497BE_4_0.woff2') format('woff2'),url('../fonts/3497BE_4_0.woff') format('woff'),url('../fonts/3497BE_4_0.ttf') format('truetype');}
@font-face {font-family: 'Carrara-Regular';src: url('../fonts/3497BE_A_0.eot');src: url('../fonts/3497BE_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3497BE_A_0.woff2') format('woff2'),url('../fonts/3497BE_A_0.woff') format('woff'),url('../fonts/3497BE_A_0.ttf') format('truetype');}
@font-face {font-family: 'Carrara-Light';src: url('../fonts/3497BE_B_0.eot');src: url('v/3497BE_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3497BE_B_0.woff2') format('woff2'),url('../fonts/3497BE_B_0.woff') format('woff'),url('../fonts/3497BE_B_0.ttf') format('truetype');}
 
 $font-family: 'Carrara-Regular', Serif;
 $font-size: 14px;
 $font-size-mobile: 12px;
 $line-height: 1.6;
 $font-weight: 300;
 $font-weight-medium: 500;
 $font-weight-bold: 700;
 $letter-spacing: 0.2;
 
 // Ueberschriften
 $headline-size-1: 3.4em;
 $headline-size-2: 2.2em;
 $headline-size-3: 1.4em;
 $headline-size-4: 1em;
 $headline-margin-1: 0.8em;
 $headline-margin-2: 1.2em;
 $headline-margin-3: 1.6em;
                                  
 // Responsive Breakpoints
 $breakpoint-desktop: $max-width;
 $breakpoint-tablet: 900px;
 $breakpoint-mobile: 599px;
 $breakpoint-slider: 1450px;
 
 // Box-Einstellungen
 $box-padding-tb-mobile: 2em;
 $box-padding-tb-tablet: 4em;
 $box-padding-tb-desktop: 6em;
 $box-padding-rl-mobile: 1em;
 $box-padding-rl-tablet: 1.5em;
 $box-padding-rl-desktop: 2em;
 
 // Effekte
 $transitionOne: all 0.2s ease 0s; // Animation
 
 
 /* ===========================================
  * Farben
  * ======================================== */
 
 // Farbset
 $pink: #c80059;
 $black: #1e1e1e;
 $grey-dark: #505050;
 $grey-standard: #a0a0a0;
 $grey-medium: #f0f0f0;
 $grey-light: #f5f5f5;
 $white: #fff;
 
 // Content-Farben
 $font-color: $black;
 $font-color-medium: $grey-medium;
 $font-color-light: $grey-light;
 $font-color-second: $pink;
 $font-color-negative: $white;
 $box-color: $pink;
 $box-color-light: $grey-light;
 
 // Links & Navigation
 $link-color: $grey-dark;
 $link-color-hover: $grey-standard;
 $nav-color: $grey-medium;
 $nav-color-hover: $pink;
 
 // Hintergrund
 $boxed-layout: false;
 $background-image: none;
 $background-repeat: no-repeat;
 $background-position: 50% 0;
 $background-attachment: scroll;
 $background-size: auto;
 $background-color: $white;
 $background-color-light: $grey-light;
 $background-color-medium: $grey-medium;
 $background-color-second: $pink;
 
 // Buttons
 $button-color: $white;
 $button-color-background: $pink;
 
