/* ===========================================
  * Basis
  * ======================================== */
@import url("//hello.myfonts.net/count/3497bf");
@font-face {
  font-family: 'Carrara-Bold';
  src: url("../fonts/3497BE_4_0.eot");
  src: url("../fonts/3497BE_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/3497BE_4_0.woff2") format("woff2"), url("../fonts/3497BE_4_0.woff") format("woff"), url("../fonts/3497BE_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Carrara-Regular';
  src: url("../fonts/3497BE_A_0.eot");
  src: url("../fonts/3497BE_A_0.eot?#iefix") format("embedded-opentype"), url("../fonts/3497BE_A_0.woff2") format("woff2"), url("../fonts/3497BE_A_0.woff") format("woff"), url("../fonts/3497BE_A_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Carrara-Light';
  src: url("../fonts/3497BE_B_0.eot");
  src: url("v/3497BE_B_0.eot?#iefix") format("embedded-opentype"), url("../fonts/3497BE_B_0.woff2") format("woff2"), url("../fonts/3497BE_B_0.woff") format("woff"), url("../fonts/3497BE_B_0.ttf") format("truetype"); }

/* ===========================================
  * Farben
  * ======================================== */
/* ===========================================
* Mixins
* ======================================== */
/* ===========================================
 * Flexbox
 * ======================================== */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0; }

/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 1em 40px; }

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit; }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic; }

/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000; }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block; }

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none; }

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block; }

/**
   * Add the correct display in IE.
   */
template {
  display: none; }

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none; }

/* ===========================================
 * Base
 * ======================================== */
* {
  margin: 0;
  padding: 0; }

*, *::after, *::before {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: "Carrara-Regular", Serif;
  font-size: 1em;
  line-height: 1.4em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: initial; }

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #1e1e1e;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease; }
  a:hover, a:link:hover, a:visited:hover, a:active:hover {
    color: #a0a0a0; }

a.button {
  min-width: 170px;
  position: relative;
  display: inline-block;
  margin-top: 2em;
  padding: 10px 15px;
  background-color: #c80059;
  font-weight: 700;
  color: #fff; }
  a.button::after {
    content: '\f105';
    position: absolute;
    right: 15px;
    font-family: FontAwesome; }
  a.button:hover {
    background-color: #1e1e1e; }

h1 {
  margin-top: 0.8em;
  margin-bottom: 0;
  font-size: 2.2em;
  line-height: 2.6rem;
  letter-spacing: 0;
  text-shadow: 1px 1px 30px #1e1e1e; }

h2 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-size: 1.8em;
  line-height: 2.1rem;
  letter-spacing: 0; }

h3 {
  margin-top: 0.8em;
  font-size: 1.4em;
  line-height: 1.7rem;
  letter-spacing: 0; }

h4 {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.5rem;
  letter-spacing: 0; }

h1, h2, h3, h4 {
  font-weight: 700; }
  h1.first, h2.first, h3.first, h4.first {
    margin-top: 0; }

p {
  margin-bottom: 10px; }

strong {
  font-weight: 700; }

.fa {
  color: #1e1e1e;
  padding-left: 25px; }
  .fa::before {
    margin-left: -25px; }

img {
  width: auto;
  max-width: 100%;
  display: block; }

figure {
  margin: 0; }

/* ===========================================
 * Breakpoint bei 599px
 * ======================================== */
@media only screen and (min-width: 599px) {
  h1 {
    margin-top: 1.2em;
    font-size: 2.6em;
    line-height: 3.0rem; }
  h2 {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 2.2em;
    line-height: 2.6rem; }
  h3 {
    margin-top: 1.2em;
    font-size: 1.6em;
    line-height: 2.0rem; } }

/* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
@media only screen and (min-width: 900px) {
  h1 {
    margin-top: 1.6em;
    font-size: 3.8em;
    line-height: 4.2rem; }
  h2 {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    font-size: 2.5em;
    line-height: 2.8rem; }
  h3 {
    margin-top: 1.6em; } }

/* ===========================================
 * Grid
 * ======================================== */
.columns {
  position: relative;
  float: left;
  padding: 1em; }

.row {
  width: auto; }
  .row .box-min-height {
    min-height: 600px; }

.row::before, .row::after {
  content: '';
  display: table; }

.row::after {
  clear: both; }

.row .row {
  margin-right: -1em;
  margin-left: -1em; }

/* ===========================================
 * Grid Mobile
 * ======================================== */
@media only screen and (max-width: 37.5em) {
  .small-1 {
    width: 16.66667%; }
  .small-2 {
    width: 33.33333%; }
  .small-3 {
    width: 50%; }
  .small-4 {
    width: 66.66667%; }
  .small-5 {
    width: 83.33333%; }
  .small-6 {
    width: 100%; }
  .small-offset-1 {
    margin-left: 16.66667%; }
  .small-offset-2 {
    margin-left: 33.33333%; }
  .small-offset-3 {
    margin-left: 50%; }
  .small-offset-4 {
    margin-left: 66.66667%; }
  .small-offset-5 {
    margin-left: 83.33333%; }
  .small-offset-6 {
    margin-left: 100%; } }

/* ===========================================
 * Grid Medium
 * ======================================== */
@media only screen and (min-width: 37.5em) and (max-width: 62.5em) {
  .medium-1 {
    width: 8.33333%; }
  .medium-2 {
    width: 16.66667%; }
  .medium-3 {
    width: 25%; }
  .medium-4 {
    width: 33.33333%; }
  .medium-5 {
    width: 41.66667%; }
  .medium-6 {
    width: 50%; }
  .medium-7 {
    width: 58.33333%; }
  .medium-8 {
    width: 66.66667%; }
  .medium-9 {
    width: 75%; }
  .medium-10 {
    width: 83.33333%; }
  .medium-11 {
    width: 91.66667%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-1 {
    margin-left: 8.33333%; }
  .medium-offset-2 {
    margin-left: 16.66667%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-offset-4 {
    margin-left: 33.33333%; }
  .medium-offset-5 {
    margin-left: 41.66667%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-offset-7 {
    margin-left: 58.33333%; }
  .medium-offset-8 {
    margin-left: 66.66667%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-offset-10 {
    margin-left: 83.33333%; }
  .medium-offset-11 {
    margin-left: 91.66667%; }
  .medium-offset-12 {
    margin-left: 100%; } }

/* ===========================================
 * Grid Large
 * ======================================== */
@media only screen and (min-width: 62.5em) {
  .large-1 {
    width: 4.16667%; }
  .large-2 {
    width: 8.33333%; }
  .large-3 {
    width: 12.5%; }
  .large-4 {
    width: 16.66667%; }
  .large-5 {
    width: 20.83333%; }
  .large-6 {
    width: 25%; }
  .large-7 {
    width: 29.16667%; }
  .large-8 {
    width: 33.33333%; }
  .large-9 {
    width: 37.5%; }
  .large-10 {
    width: 41.66667%; }
  .large-11 {
    width: 45.83333%; }
  .large-12 {
    width: 50%; }
  .large-13 {
    width: 54.16667%; }
  .large-14 {
    width: 58.33333%; }
  .large-15 {
    width: 62.5%; }
  .large-16 {
    width: 66.66667%; }
  .large-17 {
    width: 70.83333%; }
  .large-18 {
    width: 75%; }
  .large-19 {
    width: 79.16667%; }
  .large-20 {
    width: 83.33333%; }
  .large-21 {
    width: 87.5%; }
  .large-22 {
    width: 91.66667%; }
  .large-23 {
    width: 95.83333%; }
  .large-24 {
    width: 100%; }
  .large-offset-1 {
    margin-left: 4.16667%; }
  .large-offset-2 {
    margin-left: 8.33333%; }
  .large-offset-3 {
    margin-left: 12.5%; }
  .large-offset-4 {
    margin-left: 16.66667%; }
  .large-offset-5 {
    margin-left: 20.83333%; }
  .large-offset-6 {
    margin-left: 25%; }
  .large-offset-7 {
    margin-left: 29.16667%; }
  .large-offset-8 {
    margin-left: 33.33333%; }
  .large-offset-9 {
    margin-left: 37.5%; }
  .large-offset-10 {
    margin-left: 41.66667%; }
  .large-offset-11 {
    margin-left: 45.83333%; }
  .large-offset-12 {
    margin-left: 50%; }
  .large-offset-13 {
    margin-left: 54.16667%; }
  .large-offset-14 {
    margin-left: 58.33333%; }
  .large-offset-15 {
    margin-left: 62.5%; }
  .large-offset-16 {
    margin-left: 66.66667%; }
  .large-offset-17 {
    margin-left: 70.83333%; }
  .large-offset-18 {
    margin-left: 75%; }
  .large-offset-19 {
    margin-left: 79.16667%; }
  .large-offset-20 {
    margin-left: 83.33333%; }
  .large-offset-21 {
    margin-left: 87.5%; }
  .large-offset-22 {
    margin-left: 91.66667%; }
  .large-offset-23 {
    margin-left: 95.83333%; }
  .large-offset-24 {
    margin-left: 100%; } }

/* ===========================================
 * Slick-Theme
 * ======================================== */
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../images/layout/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/../fonts/slick.eot");
  src: url("./fonts/../fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/../fonts/slick.woff") format("woff"), url("./fonts/../fonts/slick.ttf") format("truetype"), url("./fonts/../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  z-index: 10;
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: #fff;
  border-radius: 100%;
  color: #1e1e1e;
  bottom: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .slick-prev:hover,
  .slick-next:hover {
    background-color: #c80059;
    color: #fff; }
    .slick-prev:hover::before,
    .slick-next:hover::before {
      color: #fff; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 1;
    color: #1e1e1e;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 20px; }
  .slick-prev:before {
    content: '\f104'; }

.slick-next {
  right: 20px; }
  .slick-next:before {
    content: '\f105'; }

@media only screen and (min-width: 900px) {
  .slick-prev, .slick-next {
    width: 50px;
    height: 50px; } }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 40px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 12px;
      width: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          background-color: #c80059; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 100%;
        line-height: 20px;
        text-align: center;
        opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease; }
    .slick-dots li.slick-active button:before {
      background-color: #c80059; }

@media only screen and (min-width: 1200px) {
  .slick-prev {
    margin-left: 30px; }
  .slick-next {
    margin-right: 30px; } }

@media only screen and (min-width: 1450px) {
  .slick-prev, .slick-next {
    top: 50%;
    bottom: inherit; } }

/* ===========================================
 * Slider
 * ======================================== */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  /*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y; */
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    /* pointer-events: cursor; */ }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* ===========================================
* Header
* ======================================== */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background: #fff;
  z-index: 3;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-bottom: 1px solid #f5f5f5;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease; }
  header .boxed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 90px; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .flex.phone {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    padding-left: 10px; }
  .flex.logo {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  .flex.trigger {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
    padding-right: 10px; }

#logo img {
  width: 120px; }

@media only screen and (min-width: 900px) {
  a#cd-menu-trigger, .phone {
    display: none !important; }
  .flex.logo {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }
  .flex.trigger {
    padding-right: 0; } }

/* ===========================================
* Mobile Trigger
* ======================================== */
a#cd-menu-trigger {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

#cd-menu-trigger {
  position: relative; }
  #cd-menu-trigger .cd-menu-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #1e1e1e; }
    #cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: inherit;
      left: 0; }
    #cd-menu-trigger .cd-menu-icon::before {
      bottom: 5px; }
    #cd-menu-trigger .cd-menu-icon::after {
      top: 5px; }

#cd-menu-trigger.is-clicked .cd-menu-icon {
  background-color: rgba(255, 255, 255, 0); }
  #cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
    background-color: #1e1e1e; }
  #cd-menu-trigger.is-clicked .cd-menu-icon::before {
    bottom: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  #cd-menu-trigger.is-clicked .cd-menu-icon::after {
    top: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

/* ===========================================
* Mobile Navigation
* ======================================== */
nav ul {
  list-style: none; }

#cd-lateral-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 90px;
  visibility: hidden;
  z-index: 3;
  padding-bottom: 100px;
  background-color: #fff;
  overflow-y: auto;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
  transition: transform .4s 0s, visibility 0s .4s;
  transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transform: translateX(100%); }
  #cd-lateral-nav a {
    display: block;
    height: 45px;
    line-height: 45px;
    color: #1e1e1e;
    font-weight: 700;
    border-bottom: 1px solid #dcdcdc; }
    #cd-lateral-nav a.current, #cd-lateral-nav a:hover {
      color: #c80059; }
  #cd-lateral-nav .cd-navigation {
    padding: 30px; }
    #cd-lateral-nav .cd-navigation li.active a {
      color: #c80059; }
    #cd-lateral-nav .cd-navigation .sub-menu li a {
      color: #1e1e1e; }
    #cd-lateral-nav .cd-navigation .sub-menu li.submenu-active a {
      color: #c80059; }
    #cd-lateral-nav .cd-navigation:first-child {
      background-color: #f5f5f5; }
    #cd-lateral-nav .cd-navigation.cd-single-item-wrapper li {
      margin-right: 10px;
      display: inline-block; }
    #cd-lateral-nav .cd-navigation.cd-single-item-wrapper a {
      font-weight: 300;
      color: #a0a0a0;
      text-transform: uppercase;
      border-bottom: 0; }
      #cd-lateral-nav .cd-navigation.cd-single-item-wrapper a:hover {
        color: #1e1e1e; }
  #cd-lateral-nav .sub-menu {
    padding: 0 10px 20px 15px;
    display: none; }
    #cd-lateral-nav .sub-menu a {
      font-weight: 300; }

.no-touch #cd-lateral-nav a:hover {
  color: #c80059; }

#cd-lateral-nav.lateral-menu-is-open {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
  transition: transform .4s 0s, visibility 0s 0s;
  -webkit-overflow-scrolling: touch;
  z-index: 10; }

#cd-lateral-nav .item-has-children > a {
  position: relative;
  font-weight: 700; }
  #cd-lateral-nav .item-has-children > a::after {
    content: '\f105';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 1em;
    bottom: auto;
    font-family: FontAwesome;
    font-size: 18px;
    font-weight: 300;
    color: #a0a0a0;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease; }
  #cd-lateral-nav .item-has-children > a.submenu-open::after {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); }

/* ===========================================
* Desktop-Navigation
* ======================================== */
.desktop-nav, header .service-nav {
  display: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease; }

@media only screen and (min-width: 900px) {
  #logo img {
    width: 160px;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease; }
  .sticky {
    height: 90px; }
    .sticky #logo img {
      width: 120px; }
    .sticky .boxed {
      height: 90px; }
    .sticky .desktop-nav {
      height: 90px; }
      .sticky .desktop-nav ul {
        height: 90px; }
        .sticky .desktop-nav ul li:hover ul {
          top: 90px; }
    .sticky .service-nav {
      display: none; }
  header {
    height: 120px; }
    header .boxed {
      height: 120px; }
  .trigger {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  header .service-nav ul {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  header .service-nav li::after {
    display: none; }
  header .service-nav a {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.05em; }
  .desktop-nav li.active > a {
    color: #c80059; }
    .desktop-nav li.active > a .level_2 {
      color: #1e1e1e; }
  .desktop-nav .submenu-active a {
    background-color: #c80059;
    color: #fff; }
  .desktop-nav, header .service-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
    width: 100%;
    height: 60px; }
    .desktop-nav ul, header .service-nav ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      list-style: none;
      height: 60px; }
      .desktop-nav ul li, header .service-nav ul li {
        position: relative;
        margin: 0 10px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center; }
        .desktop-nav ul li:last-child, header .service-nav ul li:last-child {
          margin-right: 0; }
        .desktop-nav ul li:hover::after, header .service-nav ul li:hover::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          background-color: #c80059; }
        .desktop-nav ul li ul, header .service-nav ul li ul {
          display: none;
          position: absolute;
          min-width: 150px;
          top: 60px;
          background-color: #fff;
          box-shadow: 1px 1px 5px 0 #a0a0a0;
          -moz-box-shadow: 1px 1px 5px 0 #a0a0a0;
          -webkit-box-shadow: 1px 1px 5px 0 #a0a0a0;
          z-index: -10; }
        .desktop-nav ul li:hover ul, header .service-nav ul li:hover ul {
          display: block;
          position: absolute;
          min-width: 150px;
          height: auto;
          top: 60px; }
          .desktop-nav ul li:hover ul li, header .service-nav ul li:hover ul li {
            margin: 0;
            padding: 0; }
            .desktop-nav ul li:hover ul li::after, header .service-nav ul li:hover ul li::after {
              display: none; }
          .desktop-nav ul li:hover ul a, header .service-nav ul li:hover ul a {
            padding: 10px 10px;
            display: block;
            width: 100%; }
            .desktop-nav ul li:hover ul a:hover, header .service-nav ul li:hover ul a:hover {
              background-color: #c80059;
              color: #fff; } }

/* ===========================================
 * Content
 * ======================================== */
.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.wrapper {
  margin-top: 90px; }

.full-width {
  width: 100%; }

.boxed {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 1em;
  padding-left: 1em; }

.box-padding-top-bottom {
  padding-top: 2em;
  padding-bottom: 2em; }

.box-padding-top {
  padding-top: 2em; }

.box-padding-bottom {
  padding-bottom: 2em; }

.box-centered {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  min-height: 400px; }

.cd-main-content {
  position: relative;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease; }

/* ===========================================
 * Breakpoint bei 599px
 * ======================================== */
@media only screen and (min-width: 599px) {
  .boxed {
    padding-right: 1.5em;
    padding-left: 1.5em; }
  .box-padding-top-bottom {
    padding-top: 4em;
    padding-bottom: 4em; }
  .box-padding-top {
    padding-top: 4em; }
  .box-padding-bottom {
    padding-bottom: 4em; } }

/* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
@media only screen and (min-width: 900px) {
  .boxed {
    padding-right: 2em;
    padding-left: 2em; }
  .box-padding-top-bottom {
    padding-top: 6em;
    padding-bottom: 6em; }
  .box-padding-top {
    padding-top: 6em; }
  .box-padding-bottom {
    padding-bottom: 6em; } }

/* ===========================================
 * Box-Farben
 * ======================================== */
.box-pink {
  background-color: #c80059;
  color: #fff; }
  .box-pink a, .box-pink .fa {
    color: #fff; }

.box-grey {
  background-color: #f5f5f5; }

.box-grey-medium {
  background-color: #f0f0f0; }

/* ===========================================
 * Slider
 * ======================================== */
.slide {
  outline: none; }

.slider.top {
  width: 100%;
  height: 75vh; }
  .slider.top .slide {
    height: 75vh;
    padding: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .slider.top .slide.inherit {
      color: #1e1e1e; }
      .slider.top .slide.inherit h1 {
        text-shadow: none; }
  .slider.top .slide-1 {
    background-image: url("/images/home/slider/top/muster.png");
    background-color: #f5f5f5; }
  .slider.top .slide-2 {
    background-image: url("/images/home/slider/top/faeltlirock.jpg"); }
  .slider.top .slide-3 {
    background-image: url("/images/home/slider/top/werktagstracht_detail.jpg"); }
  .slider.top .slide-4 {
    background-image: url("/images/home/slider/top/schwarzer-spitzkragen.jpg"); }

.slider.bottom .slide {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  padding-bottom: 28px; }

.slider.bottom .slide-1 {
  position: relative; }
  .slider.bottom .slide-1 .feature-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .slider.bottom .slide-1 .feature-text {
    width: 100%; }
  .slider.bottom .slide-1 .feature-image {
    margin: 20px auto 0 auto;
    width: 60%; }
  .slider.bottom .slide-1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: url("/images/home/slider/bottom/brett.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; }

.item-1::before {
  content: "1";
  padding-right: 10px; }

.item-2::before {
  content: "2";
  padding-right: 10px; }

.item-3::before {
  content: "3";
  padding-right: 10px; }

.item-4::before {
  content: "4";
  padding-right: 10px; }

.item-5::before {
  content: "5";
  padding-right: 10px; }

.item-6::before {
  content: "6";
  padding-right: 10px; }

.item-7::before {
  content: "7";
  padding-right: 10px; }

.item-8::before {
  content: "8";
  padding-right: 10px; }

.item-9::before {
  content: "9";
  padding-right: 10px; }

.item-10::before {
  content: "10";
  padding-right: 10px; }

.item-11::before {
  content: "11";
  padding-right: 10px; }

.item-12::before {
  content: "12";
  padding-right: 10px; }

.carousel {
  height: 250px; }
  .carousel .box-padding-top-bottom {
    padding-top: 6em;
    padding-bottom: 6em; }
  .carousel .slick-next, .carousel .slick-prev {
    top: 50%;
    bottom: inherit; }
  .carousel .slick-list {
    margin-right: 4em;
    margin-left: 4em; }
  .carousel .button-icon {
    color: #c80059; }
    .carousel .button-icon::after {
      content: '\f105';
      padding-left: 10px;
      font-family: FontAwesome; }

/* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
@media only screen and (min-width: 900px) {
  .carousel .slick-list {
    margin-right: 7em;
    margin-left: 7em; } }

.image-boxes article.columns {
  padding: 0.2em; }

.image-boxes article > div {
  position: relative;
  overflow: hidden; }

.image-boxes article figure {
  background-color: rgba(255, 255, 0, 0); }
  .image-boxes article figure::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: transparent;
    /* Fallback solid color for old browsers */
    background: linear-gradient(to bottom, transparent 0%, #1e1e1e 100%);
    /* W3C */
    background: -moz-linear-gradient(top, transparent 0%, #1e1e1e 100%);
    /* FF 3.6+ */
    background: -ms-linear-gradient(top, transparent 0%, #1e1e1e 100%);
    /* IE 10+ */
    background: -o-linear-gradient(top, transparent 0%, #1e1e1e 100%);
    /* Opera 11.10+ */
    background: -webkit-linear-gradient(top, transparent 0%, #1e1e1e 100%);
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, #1e1e1e));
    /* Chrome, Safari 4+ */
    bottom: 0;
    z-index: 1; }
  .image-boxes article figure::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c80059;
    opacity: 0;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
  .image-boxes article figure img {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
  .image-boxes article figure:hover::after {
    opacity: 0.5; }
  .image-boxes article figure:hover img {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2); }

.image-boxes article figcaption {
  width: 100%;
  position: absolute;
  bottom: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  z-index: 2; }

/* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
@media only screen and (min-width: 900px) {
  .slider.bottom .slide .feature-box {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .slider.bottom .slide .feature-text, .slider.bottom .slide .feature-image {
    width: 50%; } }

/* ===========================================
 * Formular
 * ======================================== */
.widget input {
  height: 40px;
  padding: 10px 10px 10px 0;
  outline: none;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #a0a0a0;
  font-family: "Carrara-Regular", Serif;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease; }
  .widget input:focus, .widget input:hover {
    border-color: #1e1e1e; }

._e725ae-status {
  display: none; }

label {
  margin-bottom: 10px;
  display: inline-block; }

textarea {
  width: 100%;
  height: 300px;
  outline: none;
  border: 1px solid #a0a0a0;
  padding: 10px;
  font-family: "Carrara-Regular", Serif; }
  textarea:focus, textarea:hover {
    border-color: #1e1e1e; }

fieldset {
  margin-top: 20px;
  padding: 0;
  border: 0; }

.radio {
  margin-top: 10px; }
  .radio label {
    display: inline-block; }
  .radio input {
    float: left; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label::before {
  width: 20px;
  height: 20px;
  left: 0;
  top: 2px;
  position: absolute;
  display: inline-block;
  margin-right: 10px;
  border-radius: 100%;
  background-color: #f5f5f5;
  cursor: pointer;
  content: '';
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease; }

input[type="radio"] + label {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  padding-left: 30px; }

input[type="radio"]:checked + label::before {
  background-color: #c80059; }

button[type="submit"] {
  background-color: #c80059;
  height: 40px;
  display: inline-block;
  margin-top: 40px;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  font-family: "Carrara-Regular", Serif; }
  button[type="submit"]:hover {
    background-color: #1e1e1e; }

.form .columns {
  padding: 0; }

.widget {
  margin-top: 2em;
  padding-right: 1em; }

input, textarea {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none; }

/* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
@media only screen and (min-width: 599px) {
  .widget {
    padding-right: 2em; }
    .widget:nth-child(2n) {
      padding-right: 0;
      padding-left: 2em; } }

/* ===========================================
* Footer
* ======================================== */
footer {
  border-top: 1px solid #f5f5f5;
  min-height: 200px;
  background-color: #fff; }
  footer .service-nav {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #f5f5f5; }
    footer .service-nav ul {
      list-style: none; }
    footer .service-nav li {
      display: inline;
      margin-right: 10px; }
    footer .service-nav a {
      color: #1e1e1e;
      text-transform: uppercase; }
  footer p {
    margin-bottom: 0; }

address {
  font-weight: 300;
  font-style: normal; }
  address > div {
    float: left; }

/* ===========================================
 * Nach oben
 * ======================================== */
a.cd-top {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 20px;
  bottom: 20px;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
  z-index: 9;
  opacity: 0; }
  a.cd-top::before {
    content: '\f106';
    font-family: FontAwesome;
    color: #1e1e1e;
    line-height: 25px; }

.cd-top.cd-is-visible {
  opacity: 1; }

.footer-flex-right {
  display: none; }

/* ===========================================
 * Breakpoint bei 900px
 * ======================================== */
@media only screen and (min-width: 900px) {
  a.cd-top {
    right: 40px;
    bottom: 40px; }
  footer .boxed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  footer .footer-flex-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  footer .footer-flex-right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }
  footer .footer-flex-right, footer .footer-flex-left {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  footer .service-nav {
    position: relative;
    height: 40px;
    padding-top: 0;
    border-top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    footer .service-nav::after {
      content: '';
      position: absolute;
      top: 20px;
      width: 100%;
      height: 1px;
      background-color: #f5f5f5; }
    footer .service-nav ul {
      z-index: 1;
      padding: 0 40px;
      background-color: #fff;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
    footer .service-nav li {
      margin-right: 20px; }
    footer .service-nav li:last-child {
      margin-right: 0; } }
